.discipline__grid-container {
  padding-top: 50px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 69px repeat(16, 58px);
  grid-template-rows: 95px repeat(2, 22px);
}

.discipline__button {
  width: 267px;
  height: 74px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #37313a;
}
