.discipline__header {
  margin: 46px 0 0 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #37313a;
}

.discipline__content-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.discipline__information-block-wrapper {
  position: relative;
}
.discipline__load-header {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #37313a;
}
