.discipline__information-block {
  width: 266px;
  height: 93px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  background: #ffffff;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #37313a;
  gap: 10px;
}
