html {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus-visible {
  outline: rgba(0, 82, 142, 0.5) auto 1px;
}

button {
  background: transparent;
  border: 0;
}

button:hover {
  cursor: pointer;
}

.grid-item {
  padding: 5px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #37313a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-row {
  /* transform: rotate(-90deg); */
  writing-mode: vertical-lr;
}

.list__header {
  margin: 46px 0 0 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #37313a;
}

.list__button {
  width: 190px;
  height: 21px;
  margin-top: 24px;
  border: 1px solid #37313a;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #37313a;
}

.list__inputs-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 44px;
}

.list__titles-wrapper {
  display: flex;
  width: 986px;
}

.list__title {
  width: 396px;
  height: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #37313a;
  margin: 0 0 15px 0;
}

.inputs__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputs-item__input {
  width: 390px;
  height: 34px;
  background: #ffffff;
  border: 1px solid #f1f1f1;
}

.inputs-item__buttons {
  display: flex;
  gap: 5px;
  margin-left: 5px;
}

.inputs-item__button {
  width: 89px;
  height: 21px;
  box-sizing: border-box;
  border: 1px solid #37313a;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #37313a;
}

.detalization__header {
  margin: 46px 0 0 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #37313a;
}

.detalization__content-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.detalization__table-header {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #37313a;
}

.form {
  width: 1091px;
  height: 316px;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 60px;
}

@import url(./App.css);
@import url(./components/Header/Header.css);
@import url(./components/Navigation/Navigation.css);
@import url(./views/Main/Main.css);
@import url(./components/CleanInput/CleanInput.css);
@import url(./components/DisciplineDetailsForm/DisciplineDetailsForm.css);
@import url(./components/StudentGroupForm/StudentGroupForm.css);
@import url(./components/ErrorComponent/ErrorComponent.css);
@import url(./components/DepartmentWorkDetailsForm/DepartmentWorkDetailsForm.css);
@import url(./views/DisciplineDetails/Discipline.css);
