.department-work__grid-container {
    padding-top: 50px;
    padding-left: 10px;
    display: grid;
    grid-template-rows: 22px 100px 22px;
    grid-template-columns: 195px repeat(10, 58px);
}

.department-work__form {
    width: 864px !important;
}

.department-work__grid-item {
    padding: 5px;

    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #37313a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.department-work__grid-item:nth-child(2) {
    grid-column: 2 / 6;
}

.department-work__grid-item:nth-child(3) {
    grid-column: 6 / 8;
}

.department-work__grid-item:nth-child(4) {
    grid-column: 8 / 12;
}

.department-work__grid-item:nth-child(2),
.department-work__grid-item:nth-child(3),
.department-work__grid-item:nth-child(4) {
    border: 1px solid #f1f1f1;
}

.department-work__buttons {
    width: 267px;
    height: 106px;
    background: #ffffff;
    border-radius: 10px;
    padding: 16px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
}

.department-work__button {
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #37313a;
    width: 220px;
    height: 30px;
}